<div class="card mb-5">

                <div class="card-header py-3">
                    <h5 class="card-title mb-0">Eingaben</h5>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                    <div id="error-message" class="alert alert-danger d-none" role="alert">
                        <!-- Fehler werden dynamisch geladen -->
                    </div>

                    <!-- Eingabefelder Bohrungssystem -->
                    <div class="mb-4">                        
                        <label for="fit-type-select" class="form-label">
                            <i class="fas fa-cogs"></i> Passungssystem
                        </label>
                        <select class="form-select" id="fit-type-select" name="fit-type">
                            <option value="hole" selected>Einheitsbohrung</option>
                            <option value="shaft">Einheitswelle</option>
                            <option value="combined">Kombiniertes System</option>
                        </select>
                    </div>

                    <!-- Eingabezeile Nennmaß -->
                    <div class="mb-4">
                        <label for="nominal_size" class="form-label">
                            <i class="fas fa-ruler"></i> Nennmaß (d)                             
                        </label>        
                        <input type="number" class="form-control" id="nominal_size" name="nominal_size" step="0.01" min="0" max="31500" placeholder="Nenndurchmesser in mm"
                                hx-post="{% url 'fits:tab_calculation' %}" hx-headers='{"Accept": "application/json"}'
                                hx-include="#hole-tolerance,  #hole-grade, #shaft-tolerance, #shaft-grade"
                                hx-trigger="load, change, input" value="{{ request.session.fit_nominal_size|default:'0' }}">
                    </div> <!-- Eingabezeile Nennmaß -->

                    <!-- Eingabefelder Toleranzgrad -->
                    <div class="mb-4">                        
                        <label for="fit-type-select" class="form-label">
                            <i class="fas fa-cogs"></i> Toleranzgrad
                        </label>
                        <select class="form-select" id="tolerance-select" name="tolerance-select"
                            selected="{{ request.session.fit_tolerance|default:'0' }}"
                            hx-post="{% url 'fits:tab_calculation' %}" 
                            hx-include="#nominal_size, #hole-grade, #shaft-tolerance, #shaft-grade"
                            hx-trigger="change, load">
                                <!-- Optionen werden dynamisch geladen -->
                        </select>
                        <input type="hidden" id="tolerance-value" name="tolerance-value" value="{{ request.session.fit_tolerance|default:'0' }}">   
                    </div>

                    <!-- <Toleranzklasse der Narbe> -->
                    <div class="two-column-layout mb-4">
                        <label for="hole-tolerance" class="form-label">
                            <i class="fas fa-circle"></i> Toleranzklasse der Narbe:
                        </label>
                        <div style="display: flex; gap: 10px;">
                            
                            <select class="form-select mb-4" id="hole-tolerance" name="hole-tolerance"
                            hx-post="{% url 'fits:tab_calculation' %}" 
                            hx-include="#nominal_size, #hole-grade, #shaft-tolerance, #shaft-grade"
                            hx-trigger="change">
                                <!-- Optionen werden dynamisch geladen -->
                            </select>

                            <select class="form-select mb-4" id="hole-grade" name="hole-grade"
                            hx-post="{% url 'fits:tab_calculation' %}" 
                            hx-include="#nominal_size, #hole-tolerance, #shaft-tolerance, #shaft-grade"
                            hx-trigger="change"
                            >
                            <!-- Optionen werden dynamisch geladen -->
                            </select>
                        </div>
                    </div> <!-- <Toleranzklasse der Narbe> -->

                    <!-- <Daten der Narbe> -->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;">
                        <!-- Daten der Narbe -->
                        <div style="display: flex; flex-direction: column;">
                            <div style="display: flex; flex-direction: column; width: 100%;">
                                <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                    <div style="flex: 1; padding-right: 20px;">Oberes Grenzabmaß Narbe (ES)</div>
                                    <div id="ES" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;" data-unit="µm">0,000</div>
                                    <div style="flex: 1; padding-right: 20px;">Toleranzbreite (i)</div>
                                    <div id="I" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">0,000 µm</div>
                                </div>
                                <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                    <div style="flex: 1; padding-right: 20px;">Unteres Grenzabmaß Bohrung (EI)</div>
                                    <div id="EI" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">0,000 µm</div>
                                    <div style="flex: 1; padding-right: 20px;">Toleranz (T)</div>
                                    <div id="T" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">&nbsp;</div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div style="flex: 1; padding-right: 20px;">Toleranzfeld Bohrung (IT)</div>
                                    <div id="IT" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">0,000 µm</div>
                                    <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                                    <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- <Daten der Narbe> -->            

                    <!-- Toleranzklasse der Welle-->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;">
                        <label for="shaft-tolerance" class="form-label">
                            <i class="fas fa-dot-circle"></i> Toleranzklasse der Welle:
                        </label>
                        <div style="display: flex; gap: 10px;">
                            <select class="form-select mb-3" id="shaft-tolerance" name="shaft-tolerance"
                                hx-post="{% url 'fits:tab_calculation' %}"
                                hx-include="#nominal_size, #hole-tolerance, #hole-grade, #shaft-grade"
                                hx-trigger="change">
                            <!-- Optionen werden dynamisch geladen -->
                            </select>
                            
                            <select class="form-select mb-3" id="shaft-grade" name="shaft-grade"
                                hx-post="{% url 'fits:tab_calculation' %}" 
                                hx-include="#nominal_size, #hole-tolerance, #hole-grade, #shaft-tolerance"
                                hx-trigger="change">
                                <!-- Optionen werden dynamisch geladen -->
                            </select>
                        </div>
                    </div>

                    <!-- Daten der Welle -->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;">
                        <div style="display: flex; flex-direction: column; width: 100%;">
                            <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                <div style="flex: 1; padding-right: 20px;">Oberes Grenzabmaß Bohrung (es)</div>
                                <div id="es" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">-1,000 µm</div>
                                <div style="flex: 1; padding-right: 20px;">Toleranzbreite (i)</div>
                                <div id="i" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">-1,000 µm</div>
                            </div>
                            <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                <div style="flex: 1; padding-right: 20px;">Unteres Grenzabmaß Bohrung (ei)</div>
                                <div id="ei" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">-1,000 µm</div>
                                <div style="flex: 1; padding-right: 20px;">Toleranz (T)</div>
                                <div id="t" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">-1,000 µm</div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex: 1; padding-right: 20px;">Toleranzfeld Welle (IT)</div>
                                <div id="it" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">-1,000 µm</div>
                                <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                                <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                            </div>
                        </div>            
                    </div><!-- Toleranzklasse der Welle-->
                </div><!-- Card Body -->
                <div class="card-footer" style="border-top: 1px solid #dee2e6; padding-top: 1em; padding-bottom: 1em; border-radius: 4px;">

                    <h3><i class="fas fa-info-circle"></i> Informationen zur Passung</h3>

                    <div class="two-column-layout mb-20" style="max-height: 400px; overflow: auto;">
                        <canvas id="toleranceCanvas" width="1" height="1"></canvas>
                    </div>
                    <div style="display: flex; flex-direction: column; gap: 20px;">
                        <div style="border: 1px solid #dee2e6; width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 4px;">
                            <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                                <div style="flex: 1; padding-right: 20px;">Maximales Spiel:</div>
                                <div id="imax" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"><p id="max-clearance">0.025 mm</p></div>
                                <div style="flex: 1; padding-right: 20px;">Minimales Spiel:</div>
                                <div id="s" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"><p id="min-clearance">0.009 mm</p></div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex: 1; padding-right: 20px;">Passungsart</div>
                                <div id="cmax" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"><p id="fit-type">Spielpassung</p></div>
                                <div style="flex: 1; padding-right: 20px;">Passungssystem</div>
                                <div id="clearance_max" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"><p id="fit-system">Einheitsbohrung</p></div>
                            </div>
                        </div>            
                    </div> <!-- Card Footer -->
            </div> <!-- card -->
</div> <!-- card -->
    {% load static %}

    <script type="text/javascript" src="{% static 'js/calculation.js' %}"></script>

