{% load static %}
<div class="card mb-5">

                <div class="card-header py-3">
                    <h5 class="card-title mb-0">Eingaben</h5>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                    <div id="error-message" 
                         class="alert alert-danger d-none" 
                         role="alert"
                         style="position: fixed; top: 20px; right: 20px; padding: 15px; border-radius: 5px; color: white; z-index: 1000;">
                        <!-- Fehler werden dynamisch geladen -->
                    </div>

                    <!-- Eingabefelder Bohrungssystem -->
                    <div class="mb-4">                        
                        <label for="fit-system-select" class="form-label">
                            <i class="fas fa-cogs"></i> Passungssystem
                        </label>
                        <select class="form-select" id="fit_system_select" name="fit_system_select"
                            hx-post="{% url 'fits:tab_calculation_system_selection' %}"
                            hx-include="#nominal_size, #bore_tolerance,  #bore_deviation, #shaft_tolerance, #shaft_deviation"
                            hx-target="none"
                            hx-trigger="change" 
                            >
                            <option selected disabled>Bitte Wählen</option>
                            <option value="hole" selected>Einheitsbohrung</option>
                            <option value="shaft">Einheitswelle</option>
                            <option value="combined">Kombiniertes System</option>
                        </select>
                    </div>

                    <!-- Eingabezeile Nennmaß -->
                    <div class="mb-4">
                        <label for="nominal_size" class="form-label">
                            <i class="fas fa-ruler"></i> Nennmaß (d)                             
                        </label>        
                        <input type="number" class="form-control" pattern="[0-9]*" inputmode="numeric" id="nominal_size" name="nominal_size" step="0.01" min="0" max="31500" placeholder="Nenndurchmesser in mm"
                                hx-post="{% url 'fits:tab_calculation' %}" 
                                hx-include="#tolerance-select, #bore_tolerance,  #bore_deviation, #shaft_tolerance, #shaft_deviation, #fit_system_select"
                                hx-trigger="change, input, load" 
                                value="1.0"
                        >
                    </div> <!-- Eingabezeile Nennmaß -->
                    
                    <!-- Checkbox, ob nach ISP 286-1 errechnet werden soll, oder ob das Tabbellenwerk nach ISO 286-2 verwendet werden soll 
                    <div class="mb-4">
                        <input type="checkbox" id="use_iso_286_2" name="use_iso_286_2" value="1"
                            {% if request.session.fit_use_iso_286_2|default:'1' == '1' %} checked {% endif %}
                            hx-post="{% url 'fits:tab_calculation' %}" 
                            hx-include="#nominal_size, #tolerance-select, #bore_tolerance,  #bore_deviation, #shaft_tolerance, #shaft_deviation"
                            hx-trigger="change">
                        <label for="use_iso_286_2" class="form-label">
                            <i class="fas fa-table"></i> Tabellenwerk nach DIN ISO 286-2 verwenden
                        </label>
                    </div> -- Checkbox-->

                    <!-- Eingabefelder Toleranzgrad 
                    <div class="mb-4">                        
                        <label for="fit-system-select" class="form-label">
                            <i class="fas fa-cogs"></i> Toleranzgrad
                        </label>
                        <select class="form-select" id="tolerance-select" name="tolerance-select"
                            selected="{{ request.session.fit_tolerance|default:'0' }}"
                            hx-post="{% url 'fits:tab_calculation' %}" 
                            hx-include="#nominal_size, #bore_tolerance, #bore_deviation, #shaft_tolerance, #shaft_deviation"
                            hx-trigger="change">
                        </select>
                        <input type="hidden" id="tolerance-value" name="tolerance-value" value="{{ request.session.fit_tolerance|default:'8.0' }}">   
                    </div>
                                -- Optionen werden dynamisch geladen -->

                    <!-- <Toleranzklasse der Bohrung> -->
                    <div class="two-column-layout mb-4">
                        <label for="bore_tolerance" class="form-label">
                            <i class="fas fa-circle"></i> Toleranzklasse der Bohrung:
                        </label>
                        <div style="display: flex; gap: 10px;">
                            
                            <select class="form-select mb-4" id="bore_tolerance" name="bore_tolerance" disabled
                                hx-post="{% url 'fits:tab_calculation' %}"
                                hx-include="#nominal_size, #bore_deviation"
                                hx-trigger="change"
                                hx-target="#bore_deviation"
                                hx-swap="innerHTML"
                                >
                                {% include "fits/partials/iso286_selects.html" with values=service.Bore.tolerances selected="H" %}
                            </select>

                            <select class="form-select mb-4" id="bore_deviation" name="bore_deviation"
                                hx-post="{% url 'fits:tab_calculation' %}" 
                                hx-include="#nominal_size, #bore_tolerance"
                                hx-trigger="change"
                                hx-target="#bore_data_section"
                                hx-swap="innerHTML"
                            >
                                {% for i in "x"|rjust:18 %}
                                    <option value="{{ forloop.counter }}" {% if forloop.counter == 7 %}selected{% endif %}>{{ forloop.counter }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> <!-- <Toleranzklasse der Bohrung> -->

                    <!-- <Daten der Bohrung> -->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;" id="bore_data_section">
                        <!-- Daten der Bohrung -->
                        <div style="display: flex; flex-direction: column;">
                            <div style="display: flex; flex-direction: column; width: 100%;">
                                <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                    <div style="flex: 1; padding-right: 20px;">Oberes Grenzabmaß  (ES)</div>
                                    <div id="ES" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;" data-unit="µm">0,000 µm</div>
                                    <div style="flex: 1; padding-right: 20px;">Toleranz (T)</div>
                                    <div id="T" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">0,000 µm</div>
                                </div>
                                <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                    <div style="flex: 1; padding-right: 20px;">Unteres Grenzabmaß Bohrung (EI)</div>
                                    <div id="EI" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 µm</div>
                                    <div style="flex: 1; padding-right: 20px;">Höchstmaß (ULS)</div>
                                    <div id="ULS" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 mm</div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                                    <div id="IT" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">&nbsp;</div>
                                    <div style="flex: 1; padding-right: 20px;">Mindestmaß (LLS)</div>
                                    <div id="LLS" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 mm</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- <Daten der Bohrung> -->            

                    <!-- Toleranzklasse der Welle-->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;">
                        <label for="shaft_tolerance" class="form-label">
                            <i class="fas fa-dot-circle"></i> Toleranzklasse der Welle:
                        </label>
                        <div style="display: flex; gap: 10px;">
                            <select class="form-select mb-4" id="shaft_tolerance" name="shaft_tolerance"
                                hx-post="{% url 'fits:tab_calculation' %}"
                                hx-include="#nominal_size, #shaft_deviation"
                                hx-trigger="change"
                                hx-target="#shaft_deviation"
                                hx-swap="innerHTML"
                            >
                            {% include "fits/partials/iso286_selects.html" with values=service.Shaft.tolerances selected=service.Shaft.selected_tolerance %}
                            </select>

                            <select class="form-select mb-3" id="shaft_deviation" name="shaft_deviation"
                                hx-post="{% url 'fits:tab_calculation' %}" 
                                hx-include="#nominal_size, #shaft_tolerance"
                                hx-trigger="change"
                                hx-target="#shaft_data_section"
                                hx-swap="innerHTML"
                            >
                                <!-- Wellen Zahlen werden dynamisch geladen -->
                                {% for i in "x"|rjust:18 %}
                                    <option value="{{ forloop.counter }}" {% if forloop.counter == 7 %}selected{% endif %}>{{ forloop.counter }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <!-- Daten der Welle -->
                    <div class="two-column-layout mb-4" style="align-items: flex-start;"  id="shaft_data_section">
                        <div style="display: flex; flex-direction: column; width: 100%;">
                            <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                <div style="flex: 1; padding-right: 20px;">Oberes Grenzabmaß Welle (es)</div>
                                <div id="es" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 µm</div>
                                <div style="flex: 1; padding-right: 20px;">Toleranz (T)</div>
                                <div id="t" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 µm</div>
                            </div>
                            <div style="display: flex; flex-direction: row; margin-bottom: 8px;">
                                <div style="flex: 1; padding-right: 20px;">Unteres Grenzabmaß Welle (ei)</div>
                                <div id="ei" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 µm</div>
                                <div style="flex: 1; padding-right: 20px;">Höchstmaß (ULS)</div>
                                <div id="uls" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 mm</div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex: 1; padding-right: 20px;">&nbsp;</div>
                                <div id="it" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">&nbsp;</div>
                                <div style="flex: 1; padding-right: 20px;">Mindestmaß (LLS)</div>
                                <div id="lls" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"> 0,000 mm</div>
                            </div>
                        </div>            
                    </div><!-- Toleranzklasse der Welle-->
                </div><!-- Card Body -->

                <!-- Ergebnisse -->
                <div class="card-footer" style="border-top: 1px solid #dee2e6; padding-top: 1em; padding-bottom: 1em; border-radius: 4px;">

                    <h3><i class="fas fa-info-circle"></i> Informationen zur Passung</h3>

                    <div class="two-column-layout mb-20" style="overflow: auto; display: flex; justify-content: center; align-items: center;">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img id="result_image" 
                            src="{% url 'fits:tab_calculation_image' %}" 
                            alt="Passungsdarstellung" 
                            style="max-width: 100%; height: 50%;"
                            >
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column; gap: 20px;">
                        <div style="border: 1px solid #dee2e6; width: 100%; margin-bottom: 20px; padding: 10px; border-radius: 4px;">
                            <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                                <div style="flex: 1; padding-right: 20px;">Mindestspiel:</div>
                                <div id="s_min" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"
                                    hx-post="{% url 'fits:tab_calculation_s_min' %}"
                                    hx-target="#s_min"
                                    hx-headers='{"Accept": "application/json"}'
                                    hx-include="#nominal_size, #bore_tolerance, #bore_deviation, #shaft_tolerance, #shaft_deviation"
                                    hx-trigger="change from:#nominal_size, change from:#bore_tolerance, change from:#bore_deviation, change from:#shaft_tolerance, change from:#shaft_deviation, load"
                                    hx-swap="innerHTML"
                                >&nbsp;
                                </div>
                                <div style="flex: 1; padding-right: 20px;">Höchstspiel:</div>
                                <div id="s_max" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"
                                    hx-post="{% url 'fits:tab_calculation_s_max' %}"
                                    hx-target="#s_max"
                                    hx-headers='{"Accept": "application/json"}'
                                    hx-include="#nominal_size, #bore_tolerance, #bore_deviation, #shaft_tolerance, #shaft_deviation"
                                    hx-trigger="change from:#nominal_size, change from:#bore_tolerance, change from:#bore_deviation, change from:#shaft_tolerance, change from:#shaft_deviation, load"
                                    hx-swap="innerHTML"
                                >
                                    &nbsp;
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex: 1; padding-right: 20px;">Passungsart</div>
                                <div id="fit_type" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;"
                                    hx-post="{% url 'fits:tab_calculation_fit_type' %}"
                                    hx-target="#fit_type"
                                    hx-headers='{"Accept": "application/json"}'
                                    hx-include="#nominal_size, #bore_tolerance, #bore_deviation, #shaft_tolerance, #shaft_deviation"
                                    hx-trigger="change from:#nominal_size, change from:#bore_tolerance, change from:#bore_deviation, change from:#shaft_tolerance, change from:#shaft_deviation, load"
                                    hx-swap="innerHTML"
                                >&nbsp;</div>
                                <div style="flex: 1; padding-right: 20px;">Passungssystem</div>
                                <div id="fit_system" class="text-info" style="flex: 1; padding-right: 20px; text-align: right;">Einheitswelle</div>
                            </div>
                        </div>            
                    </div> <!-- Card Footer -->
            </div> <!-- card -->
</div> <!-- card -->

<script type="text/javascript" src="{% static 'js/fits_calculation.js' %}"></script>

